{% extends 'layout.twig' %}

{% block body %}

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Follow a user</h1>
      {% include 'message.twig' %}

      <form id="follow" action="/follow" method="POST">
        
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            class="form-control"
            placeholder="Enter a user to follow"
          />
        </div>

        <div class="form-check">
          
          <input
            type="checkbox"
            id="status"
            name="status"
            class="form-check-input"
            placeholder="Check to follow or uncheck to unfollow"
          />
          <label class="form-check-label"for="status">Follow</label>
        </div>
        </br>

        <button type="submit" class="btn btn-primary btn-block">Follow</button>
      </form>
     
    </div>
  </div>
</div>

 
{% endblock %}
